:host {
  display: block;
  color: chocolate;

  cursor: pointer;

  &.even {
    background-color: #c7d6d6;
  }

  &.odd {
    background-color: #c2bdd6;
  }

  &:hover {
    color: red;
  }

  &.selected {
    color: green;
    background-color: azure;
  }
}
