<h1>user list {{title}} {{selectedUsrInd}}</h1>

<dg-user-item *ngFor="let user of userList; index as i; even as e; odd as o"
              class="saban"
              [ngClass]="{even:e, odd:o}"
  [user]="user" [selected]="selectedUsrInd === i"
  (selectedUser)="selectUsr( $event )">
</dg-user-item>

<input type="text" (keydown.enter)="addNewUser( myInput )" #myInput>
<!--

<dg-user-item [user]="userList[0]" [selected]="selectedUsrInd === 0"
              (selectedUser)="selectUsr( $event )"></dg-user-item>
<dg-user-item [user]="userList[1]" [selected]="selectedUsrInd === 1"
              (selectedUser)="selectUsr( $event )"></dg-user-item>
<dg-user-item [user]="userList[2]" [selected]="selectedUsrInd === 2"
              (selectedUser)="selectUsr( $event )"></dg-user-item>
-->

