<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <!--
  <h2>Bitte daran denken</h2>
  <h3>npm install damit der json-server installiert wird und</h3>
  <h3>npm run start:restapi</h3>
  <h4>damit json-server startet</h4>
  -->
</div>

<nav>
  <a routerLink="home" routerLinkActive="active">home</a> |
  <a routerLink="user" routerLinkActive="active">user</a>
</nav>

<router-outlet></router-outlet>


<footer>my footer</footer>
