<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<!--
<img [src]="cat" [alt]="ariaLabel"
[attr.aria-label]="ariaLabel">

<img [attr.src]="cat">

<div [innerHTML]="htmlString"></div>
-->

<!--
<h3>{{sagWas()}}</h3>
<h3>{{sagWas( 'saban sagt ')}}</h3>
<h3>{{sagWas() + ' - toll'}}</h3>

<button (click)="title='saban'">change</button>

<button (click)="chgTitle('saban')">change</button>
-->

<div style="color: red">red</div>
<div [style.color]='fontColor' >green</div>
<div [style]='{color: fontColor}'>styleObj</div>

<div [style.width.px]="width"  style="width: 100px; height: 100px; display: inline-block; background-color: blue" ></div>

<dg-user-list></dg-user-list>

<router-outlet></router-outlet>
