<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title | uppercase | reverse }}!
  </h1>
</div>
<!--

<msg-user *ngIf="$user.selectedUsr" [user]="$user.selectedUsr"></msg-user>
<msg-user-list></msg-user-list>
-->


<!--

<ul>
  <li>{{createAt}}</li>
  <li>{{createAt | date }}</li>
  <li>{{createAt | date : 'long' }}</li>
  <li>{{createAt | date : 'MMMM d, y, h:mm:ss a z'  : '+2' : 'en' }}</li>
  <li>{{createAt | date : 'MMMM d, y, h:mm:ss a z'  : '+2' : 'fr' }}</li>
  <li>{{createAt | date : 'long' | uppercase }}</li>
  <li>{{num}}</li>
  <li>{{num | number}}</li>
  <li>{{num | number : '4.5-5' }}</li>
  <li>{{num | number : '4.5-5' : 'fr' }}</li>
  <li>{{num | number : '4.5-5' : 'en' }}</li>
</ul>

<button msgDanger msgGaEvent="Danger">Danger</button>
<button msgDanger="mega-danger">Danger</button>
-->


<!--
<msg-countdown style="width: 100px; height: 50px"></msg-countdown>
-->

<nav>
  <a routerLink="home" routerLinkActive="active">home</a> |
  <a routerLink="contact" routerLinkActive="active">contact</a> |
  <a routerLink="dash" routerLinkActive="active">dash</a> |
  <a routerLink="users" routerLinkActive="active">users</a>
</nav>

<router-outlet></router-outlet>
