/* You can add global styles to this file, and also import other style files */
body {
  background-color: #fff5c7;
}

h3 {
  color: green;
}

a {
  &.active {
    font-weight: bolder;
    text-decoration: none;
  }
}
