/* You can add global styles to this file, and also import other style files */

body {
  background-color: aqua;
}

li {
  color: green;
}

button.danger {
  background-color: #ff9345;
  font-size: larger;
}
button.mega-danger {
  background-color: red;
  font-size: xx-large;
}

.active {
  font-size: larger;
  color: #ff9345;
}
