
:host {
  display: block;
  &.selected {
    background-color: #ffc2af;
    &:hover {
      cursor: default;
      text-decoration: none;
    }
  }
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
